{% block content %}

<h1>Login</h1>
<hr>

<p>Do not Have an Account?<a href="{% url 'user_app:signup'%}">Create one here</a></p>

<form action="{% url 'user_app:login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <button>Login</button>
</form>

<p>Forgot your password? Reseit it <a href="{% url 'user_app:request_reset_password' %}"> here</a></p>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock content %}
